body {
    font: 62.5% "Trebuchet MS", sans-serif;
    margin: 50px;
}

ul {
    list-style: none;
}

table {
    font-size: 125%;
    width: 100%;
}

table td {
    text-align: center;
}

.dialog_list li {
    display: inline;
}

.dialog_list li a {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

.dialog_list li a span.ui-icon {
    margin: -8px 5px 0px 0px;
    position: absolute;
    left: .2em;
    top: 50%;
}

.dialog_roster, .dialog_schedule {
    display: none;
}

.dialog_roster p, .dialog_schedule p {
    float: left;
}

.dialog_roster p span, .dialog_schedule p span {
    font-weight: bold;
}

.dialog_roster .loader, .dialog_schedule .loader {
    float: right;
}