<div>
    <h3><a href="#">{{ team }}</a></h3>
    <div>
        <ul class="dialog_list">
            <li>
                <a href="{% url roster team.id %}" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>Roster</a>
            </li>
            <li>
                <a href="#" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>Schedule</a>
            </li>
        </ul>
        <ul class="stats_list">
            <li>Seasons Played: {{ team.seasons_played }}</li>
            <li>Cup Appearances: {{ team.cup_appearances }}</li>
            <li>Titles: {{ team.titles }}</li>
            <li>Record: {{ team.wins }}-{{ team.ties }}-{{ team.losses }}</li>
            <li>Shootout Record: {{ team.shootout_wins }}-{{ team.shootout_losses }}</li>
            <li>Division Finish: {{ team.division_finish }}</li>
            <li>Conference Finish: {{ team.conference_finish }}</li>
            <li>Goals for: {{ team.goals_for }}</li>
            <li>Goals against: {{ team.goals_against }}</li>
        </ul>
        <div id="roster_{{ team.id }}" class="roster_dialog" title="{{ team.name }}">
            {{ team.acronym }}
            {# <img id="loader" src="{{ STATIC_URL }}images/ajax-loader.gif" alt="Loading" /> #}
        </div>
    </div>
</div>