{% extends "base.html" %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    $(function(){
        $("#east_accordion,#west_accordion").accordion({header: "h3", collapsible: true, active: false});
        $("#tabs").tabs();
        $(".roster_dialog").dialog({
            autoOpen: false,
            width: 800,
            buttons: {
                "Ok": function() {
                    $(this).dialog("close");
                }
            }
        });
        $(".dialog_list a").click(function(){
            if ($(this).parent().is(":first-child")) {
                $(".roster_dialog:eq(" + $(this).closest("ul").index(".dialog_list") + ")").html());
            //var team = $(this).closest("ul").attr("id");
            //var roster = $("#roster_" + team);
            //$(roster).load("/roster/" + team);
            //$(roster).dialog("open");
            }
            return false;
        });
        $(".dialog_list li a").hover(
            function() { $(this).addClass('ui-state-hover'); },
			function() { $(this).removeClass('ui-state-hover'); }
        );
    });
</script>
{% endblock %}

{% block content %}
<h1>2011-2012 - Regular Season</h1>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Eastern</a></li>
        <li><a href="#tabs-2">Western</a></li>
    </ul>
    <div id="tabs-1">
        <div id="east_accordion">
            {% for team in object_list %}
                {% if team.conference == "E" %}
                    {% include "nhl/_team.html" %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="tabs-2">
        <div id="west_accordion">
            {% for team in object_list %}
                {% if team.conference == "W" %}
                    {% include "nhl/_team.html" %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

