<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>NHL Hockey</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#e-accordion,#w-accordion").accordion({header: "h3", collapsible: true, active: false});
            $("#tabs").tabs();
        });
    </script>
</head>
<body>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Eastern</a></li>
            <li><a href="#tabs-2">Western</a></li>
        </ul>
        <div id="tabs-1">
            <div id="e-accordion">
                {% for team in object_list %}
                    {% if team.conference == "E" %}
                        <div>
                            <h3><a href="#">{{ team }}</a></h3>
                            <ul class="team-stats">
                                <li>Seasons Played: {{ team.seasons_played }}</li>
                                <li>Cup Appearances: {{ team.cup_appearances }}</li>
                                <li>Titles: {{ team.titles }}</li>
                                <li>Record: {{ team.wins }}-{{ team.ties }}-{{ team.losses }}</li>
                                <li>Shootout Record: {{ team.shootout_wins }}-{{ team.shootout_losses }}</li>
                                <li>Division Finish: {{ team.division_finish }}</li>
                                <li>Conference Finish: {{ team.conference_finish }}</li>
                                <li>Goals for: {{ team.goals_for }}</li>
                                <li>Goals against: {{ team.goals_against }}</li>
                            </ul>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="tabs-2">
            <div id="w-accordion">
                {% for team in object_list %}
                    {% if team.conference == "W" %}
                        <div>
                            <h3><a href="#">{{ team }}</a></h3>
                            <ul class="team-stats">
                                <li>Seasons Played: {{ team.seasons_played }}</li>
                                <li>Cup Appearances: {{ team.cup_appearances }}</li>
                                <li>Titles: {{ team.titles }}</li>
                                <li>Record: {{ team.wins }}-{{ team.ties }}-{{ team.losses }}</li>
                                <li>Shootout Record: {{ team.shootout_wins }}-{{ team.shootout_losses }}</li>
                                <li>Division Finish: {{ team.division_finish }}</li>
                                <li>Conference Finish: {{ team.conference_finish }}</li>
                                <li>Goals for: {{ team.goals_for }}</li>
                                <li>Goals against: {{ team.goals_against }}</li>
                            </ul>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>